*{
    margin: 0;
    padding: 0;
}

.nav-container{
    background: #ddd;
    padding: 15px 0;
    display: flex;
    height: 50px;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
    align-items: center;
}

#product-container{
    background-color: antiquewhite;
    margin-top: 15px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* height: 300px; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* height: 200px; */
    /* align-content: stretch; */
    flex-flow: row-reverse wrap; /* can take flex-direction and flex-wrap */
}
.product{
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: #3d3d3d;
    color: #fff;
}





#cart-container{
    display: flex;
    /* padding: 20px; */
    background-color: #3d3d3d;
    margin-top: 20px;
    height: 300px;
    align-items: center;
    width: 100%;
}

aside{
    border: 1px solid green;
    color: #3d3d3d;
    background-color: #aaa;
    /* width: 200px; */
    /* height: 200px; */
    width: 100px;
    height: 50px;
}

#item-1{
    background-color: red;
    /* align-self: flex-start; */
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    flex-grow: 1;
}

#item-3{
    /* align-self: stretch; */
    background-color: green;
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
    /* flex-basis: 200px; */
    flex: 1 1 200px;
}

#container{
    margin: 20px;
    background-color: #3d3d3d;
    display: flex; /* flex dir is row*/
    height: 500px;
    /* width: 100px; */
    flex-wrap: wrap;
    align-content: space-evenly;
}


/* #item-5{
    order: 1;
}

#item-6{
    order: 2;
}

#item-7{
    order: 1;
}

#item-8{
    order: 1;
} */

#item-7{
    order: -1;
}

#item-6{
    order: 2;
}
