*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3d3d3d;
    color: #fff;
}
#container{
    margin: 20px;
    padding: 10px;
    background-color: aqua;
    color: #3d3d3d;
    display: grid;
    /* height: 500px; */
    /* grid-template-columns: auto auto ; */
    /* grid-template-columns: 10% 40% 40% 10%; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr) 2fr; /* 1fr 1fr 1fr*/
    /* grid-template-rows: auto auto auto; */
    /* combination of above two */
    grid-template: auto / repeat(3, 1fr);
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-gap: 10px 10px;
}


article{
    padding: 20px;
    /* margin: 10px; */
    background-color: violet;
    text-align: center;
}

#item-1{
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 1 /span 2; */

    /* grid-row-start: 1;
    grid-row-end: 4; */

    /* grid-row: 1 / span 3; */

    /* combine all above */
    grid-area: 1 / 1 / span 3/ span 2;


}



/* 2*3 + 5

2+2+2+5 */

